.board {
  display: grid;
  grid-template-rows: repeat(8, 45px);
  grid-template-columns: repeat(8, 45px);
  border: 2px solid #333;
  width: 360px;
  height: 360px;

  .cell {
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid #000;

    &.white {
      background: lightgray;
    }

    &.black {
      background: steelblue;
    }

    &.selected {
      border: thick double #000;
    }

    &.reachable {
      border: thick double forestgreen;
    }

    &.targeted {
      border: thick double red;
    }
  }
}
